# Dart
.dart_tool/
.packages
.buildlog/
.pub-cache/
build/

# Flutter 專屬
.flutter-plugins
.flutter-plugins-dependencies
GeneratedPluginRegistrant.dart

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Podfile.lock
ios/.symlinks/

# IDE 設定（VS Code & Android Studio）

.idea/
*.iml

# 系統與雜項
*.log
*.tmp
*.swp
*.DS_Store
